@(username: String = "unknown")

    @main("Welcome") {
        @defining(play.core.PlayVersion.current) { version =>

            <section id="content">
                <div class="wrapper doc">
                    <article>
                        <h1>Salam @username</h1>
                        @if(username == "unknown") {
                            <a href="@auth.routes.AuthController.login()">Login</a>
                        }
                        @if(username != "unknown") {
                            <a href="@auth.routes.AuthController.logout()">Logout</a>
                        }
                    </article>
                    <aside>
                    @commonSidebar()
                    </aside>
                </div>
            </section>
        }
    }